@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/*--------------- Estilos para el interior del nav bar ---------------*/
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
}

.topnav {
    background-color: #1b1b2f;
    overflow: hidden;
}

/*--------------- Color de los links en hover ---------------*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*--------------- Color en el active/current link ---------------*/
.topnav a.active{
    background-color: #e43f5a;
    color: white;
}

body{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: #1b1b2f;
}

/*------------------- Reservation List table style ---------------*/

/* Set general styles for table */
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Add styles for scrollable container */
.table-container {
  height: 1000px;
  overflow-y: scroll;
}

/* Set alternating row colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Add padding and border for mobile screens */
@media (max-width: 600px) {
  .All-Reservation td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 100px;
    margin-right: 20px;
  }
}

/* Set styles for table cells */
table th,
table td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
}

/* Set Actions button styles */
.delete-button {
  background-color:#007bff;
  border: 1px solid #007bff;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.delete-button:hover {
  background-color: red;
  border: 1px solid red;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}


/*------------------------------ Search bar --------------------------------*/
.search-table {
  width: 200px;
  padding: 8px 20px;
  margin: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding-left: 40px;
}

input[type=text]:focus {
  width: 25%;
}

.logo-img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.search-button {
  background-color: #e43f5a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}